@mixin flex($flex-direction: row,$flex-wrap: nowrap,$justify-content: "",$align-items: "",$align-content: ""){
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
    @if $justify-content != "" {
        justify-content: $justify-content;
    }
    @if $align-items != "" {
        align-items: $align-items;
    }
    @if $align-content != "" {
        align-content: $align-content;
    }
}