<div class="detailsMain">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="http://img.sjgo365.com/ProductImage800/{{data.productID}}.jpg" alt=""></div>
            <div class="swiper-slide"><img src="http://img.sjgo365.com/ProductImage800/1_{{data.productID}}.jpg" alt=""></div>
            <div class="swiper-slide"><img src="http://img.sjgo365.com/ProductImage800/2_{{data.productID}}.jpg" alt=""></div>
            <div class="swiper-slide"><img src="http://img.sjgo365.com/ProductImage800/3_{{data.productID}}.jpg" alt=""></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="title">
        <p>{{data.productName}}</p>
        <div>
            <strong>￥{{data.currentPrice}}.</strong>
            <span>00</span>
        </div>
        <span>商品编号：{{data.productID}}</span>
    </div>
    <div class="comment">
        <a href="">
            <span>0条评论</span>
            <i class="iconfont icon-back_light"></i>
        </a>
    </div>
    <div class="productDetails">
        <div class="tips">
            <span>上拉查看商品详情</span>
            <i class="iconfont icon-back_light"></i>
            <i class="iconfont icon-back_light"></i>
            <i class="iconfont icon-back_light"></i>
        </div>
        <div class="detailsMore">
        </div>
    </div>
    <div class="loading">
    </div>
</div>