<p>温馨提示：新老包装随机发货</p>
<div>
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85%E9%A1%B5-01.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85_%EF%BC%881%EF%BC%89.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85%E9%A1%B5-02.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85_%EF%BC%882%EF%BC%89.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85%E9%A1%B5-03.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85_%EF%BC%883%EF%BC%89.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85%E9%A1%B5-04.jpg" alt="">
    <img src="http://img.sjgo365.com/ProductImage/{{id}}/%E8%AF%A6%E6%83%85_%EF%BC%884%EF%BC%89.jpg" alt="">
</div>