<div class="index">
    <header>
        <header>
            <span><i class="iconfont icon-sort"></i></span>
            <img src="images/index/logo/sjg_logo.png" alt="">
            <span>登录</span>
        </header>
        <form action="" method="GET">
            <input type="text">
            <span><i class="iconfont icon-search"></i></span>
        </form>
    </header>
    <main>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/index/banner/26_Head.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/index/banner/3chenes190507.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/index/banner/childrensday190524.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/index/banner/herrklee190509.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/index/banner/newmembers1229.jpg" alt=""></div>
                <div class="swiper-slide"><img src="images/index/banner/zongzi190510.jpg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <nav>
            <ul class="mainNav-1">
                <!-- <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li>
                <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li>
                <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li> -->
            </ul>
            <ul class="mainNav-2">
                <!-- <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li>
                <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li>
                <li><a href="">
                    <img src="" alt="">
                    <p></p>
                </a></li> -->
            </ul>
        </nav>
    </main>
    <nav>
        <ul>
            <li><a href="">
                <span><i class="iconfont icon-home_light"></i></span>
                <p>首页</p>
            </a></li>
            <li><a href="">
                <span><i class="iconfont icon-settings_light"></i></span>
                <p>电器馆</p>
            </a></li>
            <li><a href="">
                <img src="images/index/logo/bottom_icon.png" alt="">
            </a></li>
            <li><a href="">
                <span><i class="iconfont icon-cart_light"></i></span>
                <p>购物车</p>
            </a></li>
            <li><a href="">
                <span><i class="iconfont icon-my_light"></i></span>
                <p>我的</p>
            </a></li>
        </ul>
    </nav>
</div>