<div class="details">
    <header>
        <span class="back">
            <i class="iconfont icon-back_light"></i>
        </span>
        <h2>商品详情</h2>
    </header>
    <main></main>
    <div class="returnTop">
        <img src="http://m.sjgo365.com/Content/themes/img/top.png" alt=""> 
    </div>
    <footer>
        <div class="index">
            <span>首页</span>
        </div>
        <div class="collection">
            <i class="iconfont icon-like"></i>
            <span>收藏</span>
        </div>
        <div class="cart">
            <i class="iconfont icon-cart_light"></i>
            <span>购物车</span>
        </div>
        <div class="number">
            <div class="reduce">
                <span>-</span>
            </div>
            <input type="number" value="1" class="number-main">
            <div class="increase">
                <span>+</span>
            </div>
        </div>
        <div class="joinCart">
            <span>加入购物车</span>
        </div>
    </footer>
</div>