<div class="index">
    <div class="index-main"></div>
    <nav>
        <ul>
            <li id="home"><a href="#index/home">
                <span><i class="iconfont icon-home_light"></i></span>
                <p>首页</p>
            </a></li>
            <li id="electricAppliance"><a href="#index/electricAppliance">
                <span><i class="iconfont icon-settings_light"></i></span>
                <p>电器馆</p>
            </a></li>
            <li id="active"><a href="#index/active">
                <img src="images/index/logo/bottom_icon.png" alt="">
            </a></li>
            <li id="cart"><a href="#index/cart">
                <span><i class="iconfont icon-cart_light"></i></span>
                <p>购物车</p>
            </a></li>
            <li id="my"><a href="#index/my">
                <span><i class="iconfont icon-my_light"></i></span>
                <p>我的</p>
            </a></li>
        </ul>
    </nav>
    <div class="returnTop">
        <img src="http://m.sjgo365.com/Content/themes/img/top.png" alt=""> 
    </div>
</div>
