<div class="index-my">
    <header>
        <a href="" class="back">
            <i class="iconfont icon-back_light"></i>
        </a>
        <h2>登录我的世纪购</h2>
    </header>
    <form action="">
        <div class="user">
            <i class="iconfont icon-my_fill_light"></i>
            <input type="text" placeholder="手机/用户名">
        </div>
        <div class="password">
            <i class="iconfont icon-lock"></i>
            <input type="password" placeholder="请输入密码">
        </div>
    </form>
    <div class="tip">
        <div class="show">
            <input type="checkbox">
            显示密码
        </div>
        <div class="zhuce">
            <a href="">忘记密码</a>
            <a href="">注册</a>
        </div>
    </div>
    <button>登录</button>
</div>