<div class="index-home">
    <header>
        <header>
            <a href="#index/search"><i class="iconfont icon-sort"></i></a>
            <img src="images/index/logo/sjg_logo.png" alt="">
            <a href="#index/my">登录</a>
        </header>
        <form action="" method="GET">
            <input type="text">
            <span><i class="iconfont icon-search"></i></span>
        </form>
    </header>
    <main>
        <div>
            <div class="swiper-container">
            </div>
            <nav>
            </nav>
            <div class="select">
            </div>
            <div class="dynamicActs">
            </div>
        </div>
    </main>
</div>